h1 {
    margin-left: 10px;
    margin-top: 100px;
    color: red;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {

    color: #19A6FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub-headline {
display:flex;
justify-content: center;
}

body {
    background-color: #fcd6d3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#head {
    height: 200px;
   display:flex;
}

#map {
    height: 655px;
    width: calc(100% - 200px);
}

.flex-container {
    display: flex;
}

#button-container {
    width: 230px;
}
#button-container img{
    width:200px;
    height: 200px;
}
@media (max-width:600px){
    .flex-container{
        flex-direction: column;
    
    }
    #button-container{
        width:initial;
        display:flex;
        justify-content: space-around;
    }
    #button-container img{
        width:100px;
        height: 100px;
    }
    #map{
        width:100%;
    }

}
button {
    background-color: #fcd6d3;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-bottom: 5px;
}